








<!-- jquery -->
 <!-- The file upload form used as target for the file upload widget -->
 <form id="fileupload" action="{{route('story.galleryinsert')}}" method="POST" enctype="multipart/form-data" >
    <div class="row fileupload-buttonbar">
        <div class="col-lg-12">
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
                <input type="file" name="files[]" multiple />
            </span>
            <button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start upload</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel upload</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Delete selected</span>
            </button>
            <input type="checkbox" class="toggle" />
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div
                class="progress progress-striped active"
                role="progressbar"
                aria-valuemin="0"
                aria-valuemax="100"
            >
                <div
                class="progress-bar progress-bar-success"
                style="width: 0%;"
                ></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped">
            <tbody class="files"></tbody>
        </table>
    </div>
</form>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Demo Notes</h3>
    </div>
    <div class="panel-body">
        <ul>
        <li>
            The maximum file size for uploads in this demo is
            <strong>999 KB</strong> (default file size is unlimited).
        </li>
        <li>
            Only image files (<strong>JPG, GIF, PNG</strong>) are allowed in
            this demo (by default there is no file type restriction).
        </li>
        <li>
            Uploaded files will be deleted automatically after
            <strong>5 minutes or less</strong> (demo files are stored in
            memory).
        </li>
        <li>
            You can <strong>drag &amp; drop</strong> files from your desktop
            on this webpage (see
            <a
            href="https://github.com/blueimp/jQuery-File-Upload/wiki/Browser-support"
            >Browser support</a
            >).
        </li>
        <li>
            Please refer to the
            <a href="https://github.com/blueimp/jQuery-File-Upload"
            >project website</a
            >
            and
            <a href="https://github.com/blueimp/jQuery-File-Upload/wiki"
            >documentation</a
            >
            for more information.
        </li>
        <li>
            Built with the
            <a href="https://getbootstrap.com/">Bootstrap</a> CSS framework
            and Icons from <a href="https://glyphicons.com/">Glyphicons</a>.
        </li>
        </ul>
    </div>
</div>

<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" aria-label="image gallery" aria-modal="true" role="dialog" data-filter=":even"  >
    <div class="slides" aria-live="polite"></div>
        <h3 class="title"></h3>
        <a class="prev" aria-controls="blueimp-gallery" aria-label="previous slide" aria-keyshortcuts="ArrowLeft" ></a>
        <a  class="next" aria-controls="blueimp-gallery" aria-label="next slide" aria-keyshortcuts="ArrowRight"  ></a>
        <a class="close" aria-controls="blueimp-gallery"  aria-label="close" aria-keyshortcuts="Escape" ></a>
        <a class="play-pause" aria-controls="blueimp-gallery" aria-label="play slideshow" aria-keyshortcuts="Space" aria-pressed="false" role="button" ></a>
        <ol class="indicator"></ol>
    </div>
</div>